.App {
  text-align: center;
  margin-top: 50px;
}

/* Style for the whole task component */
.task {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

/* Style for the task name */
.task span:first-child {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

/* Style for due date and countdown */
.task span:nth-child(2) {
  font-size: 14px;
  color: #888;
  margin-bottom: 10px;
}

/* Style for the progress bar and completion percentage */
.task-progress {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.progress {
  flex-grow: 1;
  height: 10px;
  border-radius: 5px;
  overflow: hidden;
}

/* Style for the range input */
input[type='range'] {
  width: 100%;
  margin-top: 5px;
}

/* Style for the delete button */
button {
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #c82333;
}

.comic-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #ff5252;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 5px 5px 0px #000;
  transition: all 0.3s ease;
}

.comic-button:hover {
  background-color: #fff;
  color: #ff5252;
  border: 2px solid #ff5252;
  box-shadow: 5px 5px 0px #ff5252;
}

.comic-button:active {
  background-color: #fcf414;
  box-shadow: none;
  transform: translateY(4px);
}
